.container {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 200px 200px;
    gap: 5px; /* espacio entre items*/
    justify-content: center;
}

.item {
    background-color: antiquewhite;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}